.button {
  left: 2vw;
  bottom: 2vh;

  padding: var(--small) var(--medium);
  height: 100%;

  border: none;
  border-radius: var(--smaller);

  background: rgba(255, 255, 255, 0.15);
  color: var(--text-color);

  font-size: var(--small);
  cursor: pointer;

  backdrop-filter: blur(var(--size-5));
}

.active {
  outline: var(--size-2) solid var(--text-color);
  outline-offset: var(--size-2);
}
