.modal {
  width: 44vw;
  padding: var(--medium) var(--size-32);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--low-medium);
  animation: modalScaleIn 0.4s ease-out;
}

.image {
  width: var(--fs-500);
  height: var(--fs-500);
  object-fit: contain;
  image-rendering: pixelated;
}

.button {
  align-self: center;
  padding: var(--fs-10) var(--size-32);
  font-size: var(--small);
  font-weight: 700;
  border: none;
  border-radius: var(--fs-8);
  color: var(--text-color);
  background: var(--background-color);
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.85;
}