@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes blink {
  0% {
    filter: none;
  }

  50% {
    filter: brightness(0) invert(1);
  }
}

.chargeEffect {
  position: absolute;
  pointer-events: none;
  animation: spin 1s linear infinite, blink 2s linear infinite;
}

.genkiDama {
  pointer-events: none;
  animation: blink 1s linear infinite;
}
