.flexColumn span {
  color: var(--success);
}

.ranksList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--fs-8);
  padding: var(--fs-8);
}

.image {
  display: flex;
  width: 3vw;
}

.rankRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 20vh;
  background: var(--surface-primary);
  border: var(--size-1) solid var(--border-default);
  border-radius: var(--size-6);
  padding: var(--smaller);
}

.rankInfo {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.rankName {
  font-size: var(--fs-14);
  font-weight: bold;
  color: var(--text-color);
}

.rankLevels {
  font-size: var(--fs-11);
  color: var(--text-muted);
}

.rankBuff {
  font-size: var(--smaller);
  color: var(--success);
  font-weight: bold;
}

.rankChars {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: repeat(1, 2fr);
}

.rankCharFace {
  width: var(--fs-28);
  height: var(--fs-28);
  object-fit: contain;
  image-rendering: pixelated;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
