.imagesRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
}

.image {
  height: 40vh;
  z-index: 100;
}

.petImage {
  height: 30vh;
  object-fit: contain;
  transform: scaleX(-1);
  image-rendering: pixelated;
}

.rank {
  color: var(--accent-color);
  font-size: var(--fs-14);
}

.xpText {
  font-size: var(--fs-11);
  color: var(--text-muted);
  margin-top: var(--size-4);
  text-align: center;
}

.hungerContainer {
  width: 100%;
  margin-top: var(--fs-8);
}

.hungerText {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-11);
  color: var(--text-muted);
}

.hungerText span {
  color: var(--text-muted);
}

@media (orientation: portrait) {
  .image {
    height: 40%;
  }
}
