.container {
  display: flex;
  gap: var(--size-4);
  padding: var(--size-4) var(--fs-8);
  flex-direction: column;
  overflow-x: auto;
  flex-shrink: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;

  padding: var(--size-4) var(--fs-8);
  border: var(--size-1) solid var(--border-default);
  border-radius: var(--size-4);
  background: var(--surface-card);
  color: var(--text-color);
  cursor: pointer;
  white-space: nowrap;
  font-size: var(--fs-11);
  flex-shrink: 0;
}

.buttonActive {
  background: var(--accent-color);
  color: var(--primary-color);
  border-color: var(--accent-color);
  font-weight: bold;
}

.buttonFocused {
  outline: var(--size-2) solid var(--accent-color);
  outline-offset: var(--size-2);
}

button img {
  display: flex;
  width: 3vw;
}