.flexRow {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  border-bottom: 1px solid var(--border-default);
}

.flexRow h2 {
  border: none;
  padding-bottom: none;
}

.flexRow img {
  display: flex;
  width: 3vw;
}

.fontSize {
  font-size: var(--smaller);
  gap: 0.4vw;
}

.italic {
  color: var(--text-hint) !important;
  font-style: italic;
}