.button {
  right: var(--size-128);
  border: var(--size-2) solid var(--ability-natsuki-50);
  background: var(--ability-natsuki-15);
}

.button:hover:not(:disabled) {
  background: var(--ability-natsuki-35);
}

.active {
  animation: glow 1s ease-in-out infinite;
}

.value,
.label,
.cost {
  position: relative;
  z-index: 1;
}

.value {
  font-size: var(--fs-18);
  font-weight: bold;
  color: var(--ability-natsuki);
}

.label {
  color: var(--orange-pale);
}

.cost {
  font-size: var(--fs-11);
  font-weight: bold;
  color: var(--ability-natsuki);
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 var(--size-4) var(--ability-natsuki-30);
  }

  50% {
    box-shadow: 0 0 var(--size-16) var(--ability-natsuki-80);
  }
}
