.itemRow {
  display: flex;
  align-items: center;
  gap: var(--fs-10);
}

.icon {
  width: var(--size-32);
  height: var(--size-32);
  object-fit: contain;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  min-width: 0;
}

.name {
  font-size: var(--fs-14);
  color: var(--text-color);
}

.description {
  font-size: var(--fs-11);
  color: #999;
  font-weight: normal;
  line-height: 1.3;
  word-wrap: break-word;
}

.noKey {
  color: #e74c3c;
  font-size: var(--fs-080);
}