.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--overlay-60);
  cursor: pointer;
}

.image {
  top: 0;
  margin-bottom: var(--vh-20);
  max-width: var(--size-768);
  max-height: var(--vh-60);
  object-fit: contain;
  border-radius: var(--small);
  border: var(--size-1) solid var(--text-color);
  box-shadow: 0 0 var(--size-32) var(--overlay-80);
}
