.toggle {
  position: fixed;

  left: 10%;
  bottom: 80%;

  width: var(--vh-4);
  height: var(--vh-4);

  border: none;
  border-radius: var(--vh-0-8);

  background: var(--overlay-55);
  color: var(--text-color);
  border: var(--size-1) solid var(--text-color);

  z-index: 99999;

  backdrop-filter: blur(var(--size-6));

  display: flex;
  align-items: center;
  justify-content: center;
}
