.toggle {
  position: fixed;

  left: 10%;
  bottom: 80%;

  width: 4vh;
  height: 4vh;

  border: none;
  border-radius: 0.8vh;

  background: rgba(0, 0, 0, 0.55);
  color: var(--text-color);
  border: var(--size-1) solid var(--text-color);

  z-index: 99999;

  backdrop-filter: blur(var(--size-6));

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) {
  .toggle {
    bottom: 40%;
    left: 35%;
  }
}
