.imagesRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
}

.image {
  height: 40vh;
  z-index: 100;
}

.petImage {
  height: 30vh;
  object-fit: contain;
  transform: scaleX(-1);
  image-rendering: pixelated;
}

.rank {
  color: var(--accent-color);
  font-size: var(--fs-14);
}

@media (orientation: portrait) {
  .image {
    height: 40%;
  }
}
