.button {
  display: flex;
  width: 2.4vw;
  height: 2.4vw;
  font-size: var(--fs-080vw);
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.open {
  display: flex;
  width: 2.4vw;
  height: 0.8vw;
  border-radius: var(--fs-10);
}

.talking {
  display: flex;
  position: absolute;
  margin-bottom: 45vw;
  align-self: center;
}

.tutorialContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: var(--fs-8);
}

.dpad {
  left: 20%;
}

.row {
  display: flex;
  gap: var(--small);
  flex-direction: row;
  align-items: center;
  max-width: 70%;
}

.row p {
  text-align: left;
}

.movement {
  display: grid;

  grid-template-columns: 2.4vw 2.4vw 2.4vw;
  grid-template-rows: 2.4vw 2.4vw 2.4vw;
  align-self: center;

  grid-template-areas:
    ".    up    ."
    "left .   right"
    ".   down   .";
}

.up {
  grid-area: up;
}

.down {
  grid-area: down;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.empty {
  grid-area: center;
}

.gameButtons {
  display: flex;
  gap: var(--medium);
  align-items: flex-end;
  flex-direction: column;
}
