.gameButtons {
    display: flex;
    gap: 32px;
    align-items: flex-end;
    flex-direction: column;
    position: fixed;
    right: 2%;
}

.button {
    display: flex;
    width: 3.6vw;
    height: 3.6vw;
    font-size: 1.2vw;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.open {
    display: flex;
    width: 3.6vw;
    height: 1.2vw;
    border-radius: 10px;
}

.row {
    display: flex;
    gap: 24px;
    flex-direction: row;
}