.movement {
  display: grid;

  grid-template-columns: 3.6vw 3.6vw 3.6vw;
  grid-template-rows: 3.6vw 3.6vw 3.6vw;

    position: fixed;
    align-self: center;
    left: 1%;

  grid-template-areas:
    ".    up    ."
    "left .   right"
    ".   down   .";
}

/* posições */
.up {
  grid-area: up;
}

.down {
  grid-area: down;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.empty {
  grid-area: center;
}

@media (orientation: portrait) {
  .movement {
    display: grid;

    grid-template-columns: 5.4vh 5.4vh 5.4vh;
    grid-template-rows: 5.4vh 5.4vh 5.4vh;

    position: fixed;
    align-self: center;
    left: 7%;
    margin-top: 44vh;

    grid-template-areas:
      ".    up    ."
      "left .   right"
      ".   down   .";
  }
}

.dpad {
  position: fixed;
  left: 2%;

  width: 8vw;
  height: 8vw;
  z-index: 9999;

  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  touch-action: none;
  user-select: none;
  pointer-events: auto;
}

.inner {
  width: 3vw;
  height: 3vw;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  pointer-events: none;
  transition: transform 0.05s linear;
}

@media (orientation: portrait) {
  .dpad {
    width: 22vh;
    height: 22vh;
    left: 5%;
    bottom: 12%;
  }

  .inner {
    width: 7vh;
    height: 7vh;
  }
}