.toggle {
  position: fixed;

  left: 10%;
  bottom: 80%;

  width: 4vh;
  height: 4vh;

  border: none;
  border-radius: 0.8vh;

  background: rgba(0, 0, 0, 0.55);
  color: white;
  border: 1px solid white;

  z-index: 99999;

  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) {
  .toggle { 
    bottom: 40%;
    left: 35%;
  }
}