.movement {
  display: grid;

  grid-template-columns: 3.6vw 3.6vw 3.6vw;
  grid-template-rows: 3.6vw 3.6vw 3.6vw;

    position: fixed;
    align-self: center;
    left: 1%;

  grid-template-areas:
    ".    up    ."
    "left .   right"
    ".   down   .";
}

/* posições */
.up {
  grid-area: up;
}

.down {
  grid-area: down;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.empty {
  grid-area: center;
}
