.classModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999;
  background-color: rgb(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.classList {
  display: flex;
  gap: var(--low-medium);
}

.classItem {
  padding: var(--low-medium);
  border: var(--size-2) solid var(--border-medium);
  position: relative;
  background-color: var(--primary-color);
  border-radius: var(--size-5);
  text-align: center;
}

.selected {
  border-color: var(--background-color);
}
