.classModal {
  flex-direction: column;
  width: 74vw;
}

.classList {
  display: flex;
  gap: var(--low-medium);
}

.classItem {
  padding: var(--low-medium);
  border: var(--size-2) solid var(--border-medium);
  position: relative;
  background-color: var(--primary-color);
  border-radius: var(--size-5);
  text-align: center;
}

.selected {
  border-color: var(--background-color);
}
