.container {
  display: flex;
  width: 15%;
  flex-direction: column;
}

.xpText {
  font-size: var(--fs-11);
  color: var(--text-muted);
  margin-top: var(--size-4);
  text-align: center;
}

.hungerContainer {
  width: 100%;
  margin-top: var(--fs-8);
}

.hungerText {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-11);
  color: var(--text-muted);
}

.hungerText span {
  color: var(--text-muted);
}
