.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--size-1280);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0a0500; /* mesma cor do seu jogo */
  z-index: 9999;
}

.SceneMap {
  position: absolute;
  inset: 0;
}

.SceneOverlay {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;

  pointer-events: none;
}

/* conteúdo do popup */
.SceneOverlay > * {
  pointer-events: auto;
}

.loading-logo {
  width: var(--fs-500);
  opacity: 0;
  animation: zoomIn 0.3s ease forwards;
}