.overlay {
  display: flex;
  position: fixed;
  top: 0;
  width: var(--game-viewport-width);
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-self: center;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  border-radius: var(--fs-10);
}

.modal button {
  padding: var(--smaller) var(--medium);
  font-size: var(--fs-18);
  cursor: pointer;
  background-color: var(--background-color);
  border-radius: var(--fs-10);
}
