a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

body {
  font-size: var(--small);
  display: flex;
  flex-direction: row;
  place-items: center;
  background: linear-gradient(
    170deg,
    var(--surface-dark) 0%,
    #0f0f12 35%,
    #0c0c0f 65%,
    var(--background-color) 100%
  );
}

#root {
  width: 100%;
  height: 100%;
}

button {
  background-color: var(--primary-color);
  border: var(--size-1) solid var(--surface-dark);
}

h1 {
  font-size: var(--medium);
  font-weight: bold;
  color: var(--text-color);
}

h2 {
  font-size: var(--small);
  color: var(--text-color);
}

input::placeholder {
  font-size: var(--small);
  font-weight: bold;
  color: gray;
}
