.Cantina {
  background-position: center;
  background-image: url("/assets/cenarios/cantina.svg");
}

.PcsRoom {
  background-image: url("/assets/cenarios/pcsRoom.svg");
}

.PcRoomBattle {
  background-image: url("/assets/cenarios/jomasio/battle/pcsRoom.svg");
}

.Director {
  background-image: url("/assets/cenarios/director.svg");
}

.HallOne {
  background-image: url("/assets/cenarios/jomasio/hall/one.svg");
}

.HallJailson {
  background-image: url("/assets/cenarios/jomasio/hall/two.svg");
}

.HallHell {
  background-image: url("/assets/cenarios/jomasio/hall/hell.svg");
}

.HallPandemony {
  background-image: url("/assets/cenarios/jomasio/hall/pandemony.svg");
}

.HallLeft {
  background-image: url("/assets/cenarios/jomasio/hall/left.svg");
}

.HallCenter {
  background-image: url("/assets/cenarios/jomasio/hall/center.svg");
}

.HallCenterFront {
  background-image: url("/assets/cenarios/jomasio/hall/centerFront.svg");
}

.HallThirdClass {
  background-image: url("/assets/cenarios/jomasio/hall/thirdClass.svg");
}

.Library {
  background-image: url("/assets/cenarios/library.svg");
}

.LibraryBattle {
  background-image: url("/assets/cenarios/jomasio/battle/library.svg");
}

.brodiClass {
  background-image: url("/assets/cenarios/brodiClass.svg");
}

.CantinaBattle {
  background-image: url("/assets/cenarios/jomasio/battle/cantina.svg");
}

.Cafeteria {
  background-image: url("/assets/cenarios/cafeteria.svg");
}

.CafeteriaBattle {
  background-image: url("/assets/cenarios/jomasio/battle/cafeteria.svg");
}

.jailsonHallBattle {
  background-image: url("/assets/cenarios/jomasio/battle/jailsonHall.svg");
}

.hallCenterBattle {
  background-image: url("/assets/cenarios/jomasio/battle/hallCenter.svg");
}

.HellRoom {
  background-image: url("/assets/cenarios/hellRoom.svg");
}

.FirstScreen {
  background-image: url("/assets/cenarios/firstScreen.svg");
}

.Home {
  background-image: url("/assets/mainGame.svg");
}

.Tutorial {
  background-image: url("/assets/cenarios/tutorial.svg");
}

.LibrarySecretPassage {
  background-image: url("/assets/cenarios/librarySecretPassage.svg");
}

.LibraryPassageOpened {
  background-image: url("/assets/cenarios/libraryPassageOpened.svg");
}

.FootballCourt {
  background-image: url("/assets/cenarios/footballCourt.svg");
}

.HellRoomBattle {
  background-image: url("/assets/cenarios/jomasio/battle/hell.svg");
}

.CombatTutorial {
  background-image: url("/assets/cenarios/jomasio/battle/tutorial.svg");
}