.cursor {
  position: absolute;
  top: calc(-1 * var(--fs-10));
  left: 50%;
  transform: translateX(-50%);
}

.active {
  display: flex; /* 👈 ESSENCIAL */
  align-items: center; /* centraliza verticalmente */
  gap: var(--size-6); /* espaço entre seta e texto */
  background-color: rgba(0, 0, 0, 0.4) !important;
  font-weight: bold;
  border-radius: var(--size-1);
  padding: var(--size-4);

  animation: hintPulse 1.5s ease-in-out infinite;
}

.active::before {
  content: "▶ ";
}

.xpBar {
  width: 90%;
  height: var(--size-6);
  background: var(--border-default);
  border-radius: var(--size-4);
  overflow: hidden;
}

.xpFill {
  height: 90%;
  background: var(--success);
  transition: width 0.3s;
}
