.button {
  display: flex;
  margin-top: 3%;
  width: 20%;
  height: 10%;
  align-items: center;
  justify-content: center;
  font-size: var(--small);
  border-radius: var(--size-4);
  border: var(--size-1) solid var(--background-color);
  background-color: var(--primary-color);
}

.popup {
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  border: var(--size-2) solid var(--background-color);
  border-radius: var(--fs-8);
  padding: 3vw;
  text-align: center;
  max-width: var(--size-300);
}

.popup p {
  margin-bottom: var(--small);
  font-size: var(--small);
}

.popupButton {
  font-size: var(--small);
  padding: var(--size-040r) var(--fs-120);
  border-radius: var(--size-4);
  border: var(--size-1) solid var(--background-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}
