.modal {
  width: 30%;
  height: 40%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.button {
  width: 100%;
}

.active {
  outline: 2px solid #fff;
  outline-offset: 2px;
}
