.title {
  font-weight: bold;
  color: var(--text-secondary);
  font-size: var(--fs-14);
  border-bottom: var(--size-1) solid var(--border-default);
  padding-bottom: var(--size-4);
}

.marginTop {
  margin-top: var(--small);
}

.unlocked {
  font-size: var(--fs-11);
  color: var(--text-hint);
}

.skillRow {
  display: flex;
  align-items: center;
  gap: var(--fs-8);
  margin-top: var(--fs-8);
}

.skillName {
  font-size: var(--fs-13);
}
