.dpad {
  position: fixed;
  left: 2%;

  width: 8vw;
  height: 8vw;
  z-index: 9999;

  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  touch-action: none;
  user-select: none;
  pointer-events: auto;
}

.inner {
  width: 3vw;
  height: 3vw;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  pointer-events: none;
  transition: transform 0.05s linear;
}

@media (orientation: portrait) {
  .dpad {
    width: 14vh;
    height: 14vh;
    left: 12%;
    bottom: 20%;
  }

  .inner {
    width: 4vh;
    height: 4vh;
  }
}
