.silhouette {
  filter: brightness(5%) drop-shadow(var(--size-1) 0 0 var(--white));
}

.skipButton {
  position: absolute;
  top: var(--size-16);
  right: var(--size-16);
  z-index: 20;

  display: flex;
  align-items: center;
  gap: var(--size-2);

  padding: var(--size-5) var(--size-10);

  border: var(--size-2) solid var(--white-40);
  border-radius: var(--size-3);

  background: var(--overlay-40);
  color: var(--text-color);
  font-size: var(--fs-14);
  font-weight: bold;

  cursor: pointer;
  backdrop-filter: blur(var(--size-3));
}

.skipButton:hover {
  background: var(--overlay-65);
}
