.container {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-6);
  bottom: var(--vh-3);
  right: var(--size-192);
  background: var(--overlay-60);
  padding: var(--size-6) var(--smaller);
  border-radius: var(--fs-8);
  color: var(--danger);
  font-weight: bold;
  font-size: var(--fs-14);
  z-index: 100;
}

.status {
  display: flex;
  align-items: center;
  gap: var(--size-4);
}

.status span {
  font-style: italic;
}

@media (orientation: portrait) {
  .container {
    bottom: 3vw;
    right: 15vh;
  }
}
