.equipmentGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: var(--medium);
  gap: var(--small)
}

.fontSize {
  display: flex;
  align-items: center;
  font-size: var(--smaller);
  gap: var(--vw-0-4);
}

.italic {
  color: var(--text-hint) !important;
  font-style: italic;
}
