.overlay {
  align-items: flex-start;
}

.relative {
  display: flex;
  align-items: center;
  position: relative;
}

.relative input {
  background-color: var(--text-color);
  width: 30vw;
  height: 6vh;
  padding: var(--size-8);
  border-radius: var(--size-6);
  border: none;
  color: var(--surface-dark);
  font-weight: bold;
  font-size: var(--small);
}

.sendButton {
  position: absolute;
  right: 3%;
  background-color: none;
}

@media (orientation: portrait) {
  .relative input {
    width: 50vw;
  }
}
