.button {
  bottom: var(--vh-10);
  border: var(--size-2) solid var(--white-25);
  background: var(--white-10);
}

.button:hover:not(:disabled) {
  background: var(--white-20);
}

.ready {
  border-color: var(--accent-color);
  background: var(--accent-15);
}

.skillName {
  font-size: var(--fs-13);
  font-weight: bold;
}

.cooldown {
  font-size: var(--fs-18);
  font-weight: bold;
  color: var(--accent-color);
}
