.container {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  pointer-events: none;

  animation: hintPulse 2s ease-in-out infinite;
}

.hint {
  background: rgba(0, 0, 0, 0.75);
  color: var(--text-color);
  padding: var(--size-6) var(--small);
  border-radius: var(--size-4);
  font-size: var(--fs-14);
  white-space: nowrap;
  border: var(--size-1) solid rgba(255, 255, 255, 0.2);
}

@keyframes hintPulse {
  50% {
    filter: brightness(3);
  }
}