.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9999999;
  top: 0;
  right: 13%;
  width: 15vw;
  height: 85vh;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: var(--size-1) solid var(--background-color);
  border-radius: var(--size-2);
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 90%;
}

.item {
  display: flex;
  font-size: var(--small);
  color: var(--text-color);
  padding: var(--fs-8);
  gap: 0.8vw;
}

.icon {
  width: 2vw;
}

@media (orientation: portrait) {
  .navbar {
    right: 0%;
    width: 30vw;
    height: 30vh;
  }
}
