@keyframes slideFromRight {
  from {
    opacity: 1;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 9999999;
  top: 0;
  right: 0;
  width: 15vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    170deg,
    var(--primary-color) 70%,
    var(--surface-dark) 100%
  );
  border: var(--size-1) solid var(--background-color);
  border-right: var(--size-3) solid var(--accent-color);
  border-radius: var(--size-2);
  animation: slideFromRight 0.5s;
}

.navbar.closing {
  animation: slideToRight 0.5s forwards;
}

.closing {
  animation: slideToRight 0.5s forwards;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 90%;
}

.item {
  display: flex;
  font-size: var(--small);
  color: var(--text-color);
  padding: var(--fs-8);
  gap: 0.8vw;
}

.icon {
  width: 2vw;
}

@media (orientation: portrait) {
  .navbar {
    right: 0%;
    width: 30vw;
    height: 30vh;
  }
}
