.navbar{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9999999;
  top: 0;
  right: 13%;
  width: 15vw;
  height: 60vh;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: 1px solid var(--background-color);
  border-radius: 2px;
}

.list{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.item {
  color: white;
  padding: 8px;
}

@media (orientation: portrait) {
  .navbar{
    right: 0%;
    width: 30vw;
    height: 30vh;
  }
}