.container {
  position: relative;
  width: 200px;
  height: 20px;
  border: 2px solid black;
  background: #333;
  overflow: hidden;
}

.fill {
  height: 100%;
  transition: width 0.2s, background 0.2s;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: var(--smaller);
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  pointer-events: none;
}