.container {
  position: relative;
  width: var(--size-200);
  height: var(--size-20);
  border: var(--size-2) solid var(--surface-dark);
  background: var(--border-default);
  overflow: hidden;
}

.fill {
  height: 100%;
  transition: width 0.2s, background 0.2s;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: var(--smaller);
  font-weight: bold;
  text-shadow: var(--size-1) var(--size-1) var(--size-2) var(--surface-dark);
  pointer-events: none;
}