.container {
  padding: var(--fs-10);
  transition: 0.2s;
  border-radius: var(--size-4);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 4%;
  align-items: center;
}

.rowTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowTwo span,
p {
  display: flex;
  width: fit-content;
  align-self: center;
}

.image {
  max-height: var(--vh-16);
  width: var(--vh-10);
}

.freqBadge {
  display: flex;
  font-size: var(--fs-10);
  font-weight: bold;
  height: fit-content;
  padding: var(--size-2) var(--size-2);
  border-radius: var(--size-4);
  margin-top: var(--size-4);
}

.freqBadge[data-freq="daily"] {
  background: var(--surface-quest-alt);
  color: var(--text-color);
}

.freqBadge[data-freq="weekly"] {
  background: var(--surface-quest);
  color: var(--text-color);
}

.reward {
  display: flex;
  align-items: center;
  gap: var(--size-040r);
  align-self: center;
}

.rewardIcon {
  width: var(--size-26);
  height: var(--size-26);
}
