.container {
    padding: 10px;
    transition: 0.2s;
    border-radius: 4px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 4%;
}

.rowTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rowTwo span, p {
    display: flex;
    width: fit-content;
    align-self: center;
}

.image {
    max-height: 16vh;
    width: 10vh;
}