.ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  grid-template-rows: repeat(2, auto);   /* 2 linhas */
  gap: 12px; /* espaçamento opcional */
  list-style: none;
  padding: 0;
  margin-left: 2%;
}