.container {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 74vw;
  height: 90vh;
  top: 10%;
  right: 0%;
  background: #111;
  align-items: center;
  border: 2px solid #555;
  border-radius: 8px;
  z-index: 999;
}

.inventory ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inventory li {
  margin: 4px 0;
}

.active {
  display: flex;              /* 👈 ESSENCIAL */
  align-items: center;        /* centraliza verticalmente */
  gap: 6px;                   /* espaço entre seta e texto */
  background-color: rgb(26, 26, 109);
  font-weight: bold;
  border-radius: 1px;
  padding: 4px;
}

.active::before {
  content: "▶ ";
}