.container {
  width: 14vw;
}

.container div {
  display: flex;
  flex-direction: row;
}

.container img {
  display: flex;
  width: 2vw;
  margin-right: 0.5vw;
}

.subBtn {
  color: var(--accent-color);
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
}

.tip {
  font-size: var(--fs-11);
  color: var(--text-secondary);
  font-style: italic;
}