.container {
  position: relative;
  width: var(--size-50);
  height: var(--low-medium);
  border: var(--size-2) solid var(--surface-dark);
  background: var(--border-default);
}

.image {
  width: 100%;
  height: 100%;
}

.needle {
  position: absolute;
  bottom: var(--fs-10);
  left: 50%;
  width: var(--size-2);
  height: var(--low-medium);
  background: red;
  transform-origin: bottom center;
  transition: transform 0.2s ease;
}
