.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 90%;
  max-height: 80vh;
}

.header {
  text-align: center;
  padding: var(--smaller);
  font-size: var(--fs-110);
  border-bottom: var(--size-1) solid rgba(255, 255, 255, 0.2);
  margin-bottom: var(--fs-8);
}
