.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: var(--vh-80);
}

.header {
  text-align: center;
  padding: var(--smaller);
  font-size: var(--fs-110);
  border-bottom: var(--size-1) solid var(--white-20);
  margin-bottom: var(--fs-8);
}
