:root {
  --primary-color: #121B31;
  --background-color: #0A0500;


  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  place-items: center;
  max-height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
}

button {
  background-color: var(--primary-color);
  border: 1px solid black;
}

.Master {
  display: flex;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 74vw;
  height: 100vh;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 16px;
  color: white;
}

.talking {
  background-color: var(--primary-color);
  width: 60%;
  padding: 0% 1%;
  max-height: fit-content;
  text-align: left;
  margin-top: 65vh;
  bottom: 0;
}

.buttonGlobal {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;

  font-size: 16px;
  font-weight: bold;
  color: white;

  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.app {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: center;
}

input::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: gray;
}

.character {
  display: flex;
  width: fit-content;
  height: 15vh;
}