:root {
  --primary-color: #121B31;
  --background-color: #0A0500;


  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  place-items: center;
  max-height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
}

button {
  background-color: var(--primary-color);
  border: 1px solid black;
}

.Master {
  display: flex;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 74vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  .Master {
    display: flex;
    width: 100vw;
    height: 30vh;
    align-self: flex-start;
    margin-top: 0%;
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 16px;
  color: white;
}

.Cantina {
  background-position: center;
  background-image: url("/assets/cenarios/cantina.svg");
}

.PcsRoom {
  background-image: url("/assets/cenarios/pcsRoom.svg");
}

.PcRoomBattle {
  background-image: url("/assets/cenarios/jomasio/battle/pcsRoom.svg");
}

.Director {
  background-image: url("/assets/cenarios/director.svg");
}

.HallOne {
  background-image: url("/assets/cenarios/jomasio/hall/one.svg");
}

.HallJailson {
  background-image: url("/assets/cenarios/jomasio/hall/two.svg");
}

.HallHell {
  background-image: url("/assets/cenarios/jomasio/hall/hell.svg");
}

.HallPandemony {
  background-image: url("/assets/cenarios/jomasio/hall/pandemony.svg");
}

.HallLeft {
  background-image: url("/assets/cenarios/jomasio/hall/left.svg");
}

.HallCenter {
  background-image: url("/assets/cenarios/jomasio/hall/center.svg");
}

.HallCenterFront {
  background-image: url("/assets/cenarios/jomasio/hall/centerFront.svg");
}

.HallThirdClass {
  background-image: url("/assets/cenarios/jomasio/hall/thirdClass.svg");
}

.Library {
  background-image: url("/assets/cenarios/library.svg");
}

.LibraryBattle {
  background-image: url("/assets/cenarios/jomasio/battle/library.svg");
}

.brodiClass {
  background-image: url("/assets/cenarios/brodiClass.svg");
}

.CantinaBattle {
  background-image: url("/assets/cenarios/jomasio/battle/cantina.svg");
}

.Cafeteria {
  background-image: url("/assets/cenarios/cafeteria.svg");
}

.CafeteriaBattle {
  background-image: url("/assets/cenarios/jomasio/battle/cafeteria.svg");
}

.jailsonHallBattle {
  background-image: url("/assets/cenarios/jomasio/battle/jailsonHall.svg");
}

.hallCenterBattle {
  background-image: url("/assets/cenarios/jomasio/battle/hallCenter.svg");
}

.HellRoom {
  background-image: url("/assets/cenarios/hellRoom.svg");
}

.FirstScreen {
  background-image: url("/assets/cenarios/firstScreen.svg");
}

.Home {
  background-image: url("/assets/mainGame.svg");
}

.Tutorial {
  background-image: url("/assets/cenarios/tutorial.svg");
}

.LibrarySecretPassage {
  background-image: url("/assets/cenarios/librarySecretPassage.svg");
}

.LibraryPassageOpened {
  background-image: url("/assets/cenarios/libraryPassageOpened.svg");
}

.FootballCourt {
  background-image: url("/assets/cenarios/footballCourt.svg");
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  border-radius: 10px;
}

.modal button {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--background-color);
  border-radius: 10px;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0A0500; /* mesma cor do seu jogo */
  z-index: 9999;
}

.SceneMap {
  position: absolute;
  inset: 0;
}

.SceneOverlay {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;

  pointer-events: none;
}

/* conteúdo do popup */
.SceneOverlay > * {
  pointer-events: auto;
}

.loading-logo {
  width: 80px;
  opacity: 0;
  animation: zoomIn 0.3s ease forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(3.5); /* cresce bastante */
    opacity: 1;
  }
}

.cursor {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.active {
  display: flex;              /* 👈 ESSENCIAL */
  align-items: center;        /* centraliza verticalmente */
  gap: 6px;                   /* espaço entre seta e texto */
  background-color: rgb(26, 26, 109);
  font-weight: bold;
  border-radius: 1px;
  padding: 4px;
}

.active::before {
  content: "▶ ";
}

.xpBar {
  width: 90%;
  height: 6px;
  background: #333;
  border-radius: 4px;
  overflow: hidden;
}

.xpFill {
  height: 90%;
  background: #4ade80;
  transition: width 0.3s;
}

.containerOfNavbar {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 74vw;
  height: 90vh;
  top: 10%;
  right: 0%;
  background: #111;
  align-items: center;
  border: 2px solid #555;
  border-radius: 8px;
  z-index: 999;
}

@media (orientation: portrait) {
  .containerOfNavbar {
    width: 99vw;
    height: 30vh;
    top: 0;
    right: 0;
    border-radius: 0px;
  }
}

.app {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: center;
}

input::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: gray;
}