.container {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.playerName {
  text-align: left;
}

.name {
  text-align: right;
}

.playerRank {
  text-align: left;
}

.npcRank {
  text-align: right;
}

.playerInfo {
  position: absolute;
  top: 0;
  left: var(--fs-500);
}

.npcInfo {
  position: absolute;
  top: 0;
  right: var(--fs-500);
}
