.container {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.playerName {
  text-align: left;
}

.name {
  text-align: right;
}

.nameRow {
  display: flex;
  align-items: center;
  gap: var(--size-4);
}

.nameRowEnd {
  justify-content: flex-end;
}

.rankBadge {
  display: flex;
  width: 2.5vw;
  position: absolute;
  bottom: 0;
  margin-bottom: -2vw;
}

.playerRankBadge {
  right: 0;
  margin-right: -1vw;
}

.npcRankBadge {
  left: 0;
  margin-left: -1vw;
}

.playerRank {
  text-align: left;
}

.npcRank {
  text-align: right;
}

.playerInfo {
  position: absolute;
  top: 0;
  left: var(--fs-500);
}

.npcInfo {
  position: absolute;
  top: 0;
  right: var(--fs-500);
}
