.talking {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0% 1%;
  max-height: fit-content;
  text-align: left;
  margin-top: 65vh;
  bottom: 0;
  border: 1px solid var(--background-color);
  border-radius: 2px;
}

.container {
  position: relative;
  width: 50vw;
  display: flex;
  justify-content: center;
}

.image {
  position: absolute;
  bottom: 15%;
  left: 0%;
}