.container {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    bottom: 3vh;
    right: 15vw;
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 12px;
    border-radius: 8px;
    color: #ff4444;
    font-weight: bold;
    font-size: 14px;
    z-index: 100;
}

.container span {
    font-family: italic;
}