.mapOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.mapGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--size-16));
  gap: var(--size-6);
}

.cell {
  width: var(--size-16);
  height: var(--size-16);
}
