.footer {
  padding: var(--size-32) var(--medium);
  text-align: center;
  background: var(--landing-footer-bg);
  color: var(--white-40);
  font-size: var(--fs-085);
}

.footer p {
  margin: 0;
}

.footerSmall {
  margin-top: var(--size-4);
  font-size: var(--smaller);
  color: var(--white-25);
}
