.footer {
  padding: var(--size-32) var(--medium);
  text-align: center;
  background: #050208;
  color: rgba(255, 255, 255, 0.4);
  font-size: var(--fs-085);
}

.footer p {
  margin: 0;
}

.footerSmall {
  margin-top: var(--size-4);
  font-size: var(--smaller);
  color: rgba(255, 255, 255, 0.25);
}
